*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    background-color:palegreen;
    height:60%;
    width:60%;
    margin:0 auto;
    

}